{% extends 'default.html' %}
{% load custom_filter %}
{%block content%}<br>
<form action="" method="get">
       {{ filterset.form}}
       <input type="submit" value="Найти" />
   </form><br>
<button><a href="/post/response_list">Сбросить фильтр</a></button><br><hr>
{%if data%}
{%for i in filterset.qs%}
{% if i%}
  <p>{{i|name_user}}:{{i.message}}
    <button><a href="/post/response_confirm/{{i.id}}/">Откликнуться</a></button>
    <button><a href="/post/response_delete/{{i.id}}/">Удалить</a></button></p><hr>
{%endif%}
    {%endfor%}
{%endif%}
{% endblock %}